:root {
	--code: #f9f9f9;
	--back: #343a40;
	--comment: #9e9e9e;
	--variable: #2196f3;
	--string: #ff9100;
	--number: #f44336;
	--model: #f44336;
	--classe: #eeff41;
	--command: #26a69a;
	--label: #4caf50;
	--operator: #ff80ab;
}
::-webkit-scrollbar { width: .7rem; height: .7rem;}
::-webkit-scrollbar-track { background: #0f191e; }
::-webkit-scrollbar-corner{ background: var(--background) }
::-webkit-scrollbar-thumb { background: #4caf50;}
* {
	padding: 0;
	margin: 0;
	border: none;
}
html {
  scroll-behavior: smooth;
}
body {
    background: #16252c;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between
}
nav {
    display: flex;
    background: black;
    color: white;
    font-size: small;
    font-weight: normal;
    height: 20px;
    cursor: default;
}
item {
    position: relative;
    padding: 0px 6px;
}
item:hover {
    background: #464646;
}
item:hover div {
    display: flex;
    flex-direction: column;
    border: #a8a8a8 solid 1px;
}
item div {
    display: none;
    position: absolute;
    background: black;
    left: 0;
    width: max-content;
}
item div p{
    padding: 3px 7px 3px 31px
}
item div p:hover {
    background: #464646;
    z-index: 1;
}
item div p[disabled] {
    color: #545454;
}
item div p[disabled]:hover {
    background: black;
    color: #545454;
}
section {
    padding: 14px;
}
hr {
    border-bottom: white solid 1px;
    margin: 3px 4px 3px 31px;
}
#searchBar, footer{
    background: #4caf50;
    color: black;
    font-weight: bold;
}
#myInput {
    outline: none;
    padding: 6px;
    min-width: 250px;
    position: relative;
    left: 5px;
    background: none;
    border-bottom: 1px solid rgb(0 0 0 / 33%);
    mix-blend-mode: color-burn;
}
ul {
    list-style: none;
    height: calc(95vh - 52px - 76px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
li {
    margin-right: 3px;
}
pre {
    background: #0f191e;
    padding: 3px 5px;
    white-space: pre-wrap;
    font-family: monospace;
}

footer {
    display: flex;
    justify-content: space-between;
}


hlV,hlS,hlN,hlX,hlM,hlL,hlC,hlO{font-weight: bolder;}

hlC {color: var(--comment)}
hlV {color: var(--variable)}
hlS {color: var(--string)}
hlN {color: var(--number)}
hlX {color: var(--classe)}
hlM {color: var(--command)}
hlL {color: var(--label)}
hlO {color: var(--operator)}